/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font-weight: normal
  vertical-align: baseline

body
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color #fff;
  font-size: 24px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: none

table
  border-collapse: collapse
  border-spacing: 0

a
  color: #7e8c8d
  -webkit-backface-visibility: hidden
  text-decoration: none

li
  list-style: none

button
  &.md-button
    height: 80px
    line-height: normal;
    .md-button-inner
      font-size 30px
    &.small
      height: 64px
      .md-button-inner
        font-size 22px
    &.primary
      // background-image: linear-gradient(90deg, #F946F3 0%, #C158FE 100%);
      &::after
        border-color: transparent


/* --------------------------------- @help --------------------------------- */
.relative
  position relative
  &.textarea
    .hit
      position: absolute
      bottom: 10px
      right: 10px
      color: #909399


.line-normal
  line-height: normal;

.line-larger
  line-height: 1.2;

.line-large
  line-height: 1.5;

.x-large
  font-size: x-large

.xx-large
  font-size: xx-large

.large
  font-size: large

.larger
  font-size: larger !important

.small
  font-size small

.smaller
  font-size: smaller;

.x-small
  font-size: x-small;

.xx-smaller
  font-size: xx-small;

.text-indent
  text-indent 50px

.flex
  display: flex

.row
  @extend .flex
  flex-direction: row
  .col
    flex 1
    align-items: center;
    justify-content: center;


.col
  @extend .flex
  flex-direction: column


.fiel-input,input
  outline: 0;
  outline-style: none
  caret-color: color-primary
  -webkit-appearance: none;
  -webkit-tab-highlight-color rgba(0,0,0,0)
  &::placeholder
    color #C0C3CC
  &.input-textarea 
    border-radius: 8px;
    border-color: #E9E9ED;
    padding: 16px;
    line-height: 1.5
    width: -webkit-fill-available;
    min-width: 92%
    &:focus,
    &:focus-within
      border-color: color-primary

.fill
  flex: 1

.half-width
  width: 50%

.between
  justify-content: space-between

.justyfy-center
  justify-content: center

.align-center
  align-items: center;

.scroll-y
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

.primary
  color #C158FE
.text-dark
  color #303033 !important
.text-gray
  color: #6B6D71 !important
.gray
  color #909399

// n*8
$n = 10px
.mt-5
  margin-top: 5 * $n !important
.mt-3
  margin-top: 3 * $n !important
.mt-2
  margin-top 2 * $n !important
.mt-1
  margin-top $n
.ma-3
  margin 3 * $n
.ma-2
  margin 2 * $n
.ma-1
  margin $n

.ml-half
  margin-left: 5px
.ml-1
  margin-left: $n

.pa-3
  padding: 3 * $n
.pa-2
  padding 2 * $n
.pa-1
  padding: $n

.text-center
  text-align: center

.clear-fix
  &::after
    content: ""
    display: table
    clear: both

.border-top-1px, .border-right-1px, .border-bottom-1px, .border-left-1px
  position: relative
  &::before, &::after
    content: ""
    display: block
    position: absolute
    transform-origin: 0 0

.border-top-1px
  &::before
    border-top: 1PX solid #ebebeb
    left: 0
    top: 0
    width: 100%
    transform-origin: 0 top

.border-right-1px
  &::after
    border-right: 1PX solid #f5f5f5
    top: 0
    right: 0
    height: 100%
    transform-origin: right 0

.border-bottom-1px
  &::after
    border-bottom: 1PX solid #ebebeb
    left: 0
    bottom: 0
    width: 100%
    transform-origin: 0 bottom

.border-left-1px
  &::before
    border-left: 1PX solid #f5f5f5
    top: 0
    left: 0
    height: 100%
    transform-origin: left 0

@media (min-resolution: 2dppx)
  .border-top-1px
    &::before
      width: 200%
      transform: scale(.5)
  .border-right-1px
    &::after
      height: 200%
      transform: scale(.5)
  .border-bottom-1px
    &::after
      width: 200%
      transform: scale(.5)
  .border-left-1px
    &::before
      height: 200%
      transform: scale(.5)

@media (min-resolution: 3dppx)
  .border-top-1px
    &::before
      width: 300%
      transform: scale(.333)
  .border-right-1px
    &::after
      height: 300%
      transform: scale(.333)
  .border-bottom-1px
    &::after
      width: 300%
      transform: scale(.333)
  .border-left-1px
    &::before
      height: 300%
      transform: scale(.333)


/* --------------------------------- @components --------------------------------- */
.input-fiel {
  width: 100%;
  display: flex;
  flex-direction: column;

  .fiel-row {
    display: flex;
    height: 80px;
    font-size: 24px;
    line-height: 80px;

    & + .fiel-row {
      margin-top: 40px;
    }
  }

  .fiel-item {
    border-radius: 40px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    font-size: 32px;
    line-height: 32px;
    font-weight: lighter;
    font-size: 28px;
    display: flex;
    align-items: center;
    padding: 8px;

    &:focus-within, &.active {
      border-color: rgba(193, 88, 254, 1);
    }

    .img-code{
      border-radius: 40px;
      margin-right: -8px;
    }

    p {
      line-height: normal;
    }

    input {
      border: none;
      padding-left: 20px;
      width: 100%;
      height: 100%;
      line-height: 1.5;
      border-radius: 32px;
    }

    button{
      &.button{
        &.small {
          width: fit-content;
          // &.link{
          //   color: #606166;  
          // }
        }
      }
    }

    & + .fiel-item {
      margin-left: 20px;
    }

    &.area_code {
      width: 33%;
    }

    .code {
      flex: 1;
      text-align: center;
    }

    i.md-icon {
      flex-basis: 54px;
      text-align: center;
      font-size: 28px;
      fill: #c0c3cc;
      color: #c0c3cc;
    }

    svg.icon {
      width: 32px;
      height: 32px;

      &:last-child {
        margin-right: 16px;
      }
    }

    &.inline {
      display: inline-flex;
    }
  }
}

.selector-item-body {
    display: flex;
    align-items: center;

    &.selected {
      .selector-item-content {
        color: color-primary;
      }
    }

    &.disabled {
      opacity: 0.3;
    }

    .selector-item-left {
      flex-shrink: 0;
      margin-right: 32px;

      img{
        width: 88px;
        height: 88px;
      }
      
      .holder {
        display: block;
        width: 88px;
        height: 88px;
        border-radius: 44px;
        background-color: #e6e6e6;
        font-size: 32px;
        font-weight: 500;
        color: color-primary;
        text-align: center;
        line-height: 88px;
      }
    }

    .selector-item-right {
      flex-shrink: 0;
      width: 88px;
      height: 88px;

      .icon-ico {
      }
    }

    .selector-item-content {
      flex: 1;
      color: #111a34;
      font-size: 32px;
      line-height: 1.2;

      .selector-item-title {
        line-height: 1.2;
      }

      .selector-item-brief {
        color: #858b9c;
        font-size: 24px;
        line-height: 1.4;
        margin-top: 8px;
      }
    }
  }

/* --------------------------------- @animate --------------------------------- */

@keyframes firstBar {
  0%   { height: 10px; }
  50%  { height: 30px; }
  100% { height: 10px; }
}

@keyframes secondBar {
  0%   { height: 30px; }
  50%  { height: 10px; }
  100% { height: 30px; }
}

@keyframes thirdBar {
  0%   { height: 20px; }
  40%  { height: 10px; }
  60%  { height: 30px; }
  100% { height: 20px; }
}

@keyframes waveEffect {
  100% {
      box-shadow: 0 0 0 16px color-primary
  }
}

@keyframes fadeEffect {
  100% {
    opacity: 0
  }
}

bg-image($url, $ext = ".png")
  background-image: url($url + "@2x" + $ext)
  @media (min-resolution: 3dppx)
    background-image: url($url + "@3x" + $ext)